html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 320px;
    margin-right: auto;
    min-height: 1024px;
    background-color: #FFFFFF;
    box-shadow: 
        0 0 4px -2px #454F7E05,
        0 0 52px 16px #0E185033;
}

.top {
    margin-bottom: 40px;
    display: flex;
    height: 88px;
    justify-content: space-between;
    padding: 0 24px;
}

.top__part-1,
.top__part-2 {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.button {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    transition-duration: 0.7s;
}

.button:hover {
    opacity: 0.5;
    transform: scale(1.2);
}

.top__button--close {
    background: url("../img/close.svg") no-repeat center #FF3E79;
}

.top__button--search {
    background: url("../img/search.svg") no-repeat center #FF3E79;
}

.menu {
    margin-bottom: 268px;
}

.menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    margin-bottom: 28px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__link {
    display: block;
    text-decoration: none;
    color: #1B1C21;
    position: relative;
    padding-left: 24px;
    line-height: 32px;
}

.menu__link:hover {
    color: #7E7E82;
}

.menu__link::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    background-image: url("../img/highlight.svg");
    opacity: 0;
}

.menu__link--selected {
    color: #7E7E82;
}

.menu__link--selected::before {
    opacity: 1;
}

.bottom {
    margin-left: 24px;
}

.bottom__buttons {
    margin-bottom: 16px;
    display: flex;
}

.bottom__button {
    display: block;
    margin-right: 16px;
}

.bottom__button--call {
    background: url("../img/call.svg") no-repeat center #FF3E79;
}

.bottom__button--chat {
    background: url("../img/chat.svg") no-repeat center #FF3E79;
}

.bottom__button--profile {
    background: url("../img/profile.svg") no-repeat center #FF3E79;
}

.bottom__contacts {
    margin-bottom: 40px;
}

.bottom__mail {
    display: block;
    width: 110px;
    margin-bottom: 12px;
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.bottom__phone-number {
    display: block;
    width: 205px;
    color: #1B1C21;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.bottom__languages {
    padding-bottom: 32px;
}

.bottom__language {
    width: 25px;
    height: 25px;
    padding: 0;
    color: #1B1C21;
    text-align: center;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-right: 7px;
}

.bottom__phone-number:hover,
.bottom__mail:hover,
.bottom__language:hover {
    color: #7E7E82;
}

.bottom__language--selected {
    color: #7E7E82;
}